<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Norman Codes" />
<meta name="keywords" content="life,code,app,development,photography,lizhe,lizheblogs" />
<meta name="author" content="Norman Li" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<LINK href="/images/site/favicon.ico" type=image/x-icon rel="shortcut icon" />
<title>Li Zhe - Norman's Tech Blog</title>
<!--百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7b17679e07967f553876826f97fbe1fe";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41137299-7', 'auto');
  ga('send', 'pageview');

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41137299-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-41137299-7');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8468077059975424",
    enable_page_level_ads: true
  });
</script>

</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>Norman Li <span class="fade">Zhe</span></a></h1>
		<div class="slogan">
				<a href="/html/code.html" class="pink"> &nbsp;code&nbsp;&lt;工作&gt; </a> :|: 
				<a href="/html/idea.html" class="green"> &nbsp;idea&nbsp;&lt;思考&gt; </a> :|: 
				<a href="/html/life.html" class="orange"> &nbsp;life&nbsp;&lt;生活&gt; </a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div class="bdsharebuttonbox">
<a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
<a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="#" class="bds_more" data-cmd="more"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div id="footer">

    Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a> ||
    Template from <a href="http://danhixon.github.io" target="_blank">überduper</a> ||
    <a href="mailto:question@lizheblogs.com‍">question@lizheblogs.com‍</a>
 

<p>&copy; 2016 <a href="/html/license.html">LiZhe</a> All rights reserved.

</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4105222-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>

